* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
}


nav {
    width: inherit;
    display: flex;
    justify-content: flex-end;
}

nav div {
    margin: 20px;
}